<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <a id="home_button" href="/">Home</a>
            <a id="dashboard-button" href="/dashboard">Dashboard</a>
            {{#if loggedIn}}
            <button id="logout">Log out</button>
            {{else}}
            <a id="login-button" href="/login">Log in</a>
            {{/if}}
        </nav>          
        <h1>The Tech Blog</h1>
    </header>

    <main>
        {{{ body }}}
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>