<section class="create-post-card">
    <h3 id="create-post-title">Create New Post</h3>
    <form class="add-post-form">
        <label id="title-label" for="add-post-title">Title</label>
        <input type="text" id="add-post-title-input" name="add-post-title"/>

        <label id="content-label" for="add-popst-content">Content</label>
        <input type="text" id="add-post-content-input" name="add-post-content"/>

        <button id="create-button" type="submit">Create</button>
    </form>
</section>

<script src="/js/add-post.js"></script>