    {{#if posts.length}}
        <h2 id="your-posts-title">Your Posts</h2>
        <section class="dash-posts-section">
            {{#each posts as |post| }}
            {{> dashboard-post-details post }}
            {{/each}}
        </section>
    {{/if}}

    <button id="np-bttn" type="submit"><a id="new-post-button" href="/dashboard/new">+ New Post</a></button>

<script src="/js/add-post.js"></script>