<section>
    <h3>Edit Post</h3>
    <form class="edit-post-form">
        <label for="post-title">Title</label>
        <input id="post-title-input" name="post-title-input" type="text" value="{{ post.title }}"/>

        <label for="post-content">Content</label>
        <input id="post-content-input" name="post-content-input" type="text" value="{{post.content}}"/>

        <button type="submit">Update Post</button>
        <button type="button" class="delete-post-button">Delete Post</button>
    </form>
</section>

<script src="/js/delete-post.js"></script>