<div>
    <h2>Login</h2>
    <form class="login-form">
        <label for="username-login">Username</label>
        <input id="username-input" type="text"/>

        <label for="password-login">Password</label>
        <input id="password-input" type="password"/>

        <button type="submit">Login!</button>
        <a href="">Sign up instead</a>
     </form>
</div>
    
<script src="./js/login.js"></script>