<div class="login-card">
    <h2 id="login-title">Login</h2>
    <form class="login-form">
        <label id="username-label" for="username-login">Username</label>
        <input id="username-login-input" type="text"/>

        <label id="password-label" for="password-login">Password</label>
        <input id="password-login-input" type="password"/>

        <button id="login-button" type="submit">Login!</button>
        <a id="sign-up-link" href="/sign-up">Sign up instead</a>
     </form>
</div>
    
<script src="./js/login.js"></script>