{{#if loggedIn}}
{{> post-details post }}
<section class="comment-section">
    <form class="comment-form">
        <label id="comment-label" for="post-comment">Comment</label>
        <input id="comment-content-input" type="text"/>
        <button id="submit-comment-button" type="submit" class="btn">Submit</button>
    </form>
</section>
{{/if}}
{{> comment-details post.comments }}
{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}
