{{#if loggedIn}}
{{> post-details post }}
<section>
    <form class="comment-form">
        <label for="post-comment">Comment</label>
        <input id="comment-content-input" type="text"/>
        <button type="submit" class="btn">Submit</button>
    </form>
</section>
{{/if}}
{{> comment-details post.comments }}
{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}
