<div>
    <h2>Sign Up</h2>
    <form class="signup-form">
        <label for="username-login">Username</label>
        <input id="username-signup-input" type="text"/>

        <label for="password-login">Password</label>
        <input id="password-signup-input" type="password"/>

        <button type="submit">Sign up!</button>
        <a href="">Login instead</a>
     </form>
</div>